/*body{*!*/
/*    height: 500px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.circle{*/
/*    height: 150px;*/
/*    width: 150px;*/
/*    background-color: greenyellow;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    transition: all 1s;*/
/*    border: 6px dotted black;*/
/*}*/
/*.circle::after{*/

/*    content: "";*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-bottom: 3px solid red;*/
/*    border-right: 3px solid red;*/
/*    transform: rotate(400deg) ;*/


/*}*/
/*.circle:hover:after{*/
/*    transform: rotate(230deg);*/
/*}*/
/*.check{*/
/*    width: 150px;*/
/*    height: 150px;*/
/*}*/
/*.check:checked ~ .circle{*/
/*    background-color: yellow;*/
/*}

/*_________________________________________________________________________________*/
body{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader{
    width: 150px;
    height: 150px;
    border: 5px solid transparent;
    border-top-color: red;
    border-bottom-color: red;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /*animation-play-state: paused;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/*_______________________________________________________*/
/*.preloader:hover{*/
/*    animation-play-state: running;*/
/*}*/
/*________________________________________________________*/
.linear{
    width: 75px;
    height: 75px;
    animation-duration: 1s;
    animation-direction: reverse;


}


/*______________________________________________________________*/
/*Pacman*/


.pacman{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pacman-top{
    width: 100%;
    height: 50%;
    background-color: yellow;
    border-radius: 100px 100px 0 0;
    transform-origin: bottom center;
    animation-name: pm-top;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

.pacman-bottom{
    width: 100%;
    height: 50%;
    background-color: yellow;
    border-radius: 0 0 100px 100px;
    transform-origin: top center;
    animation-duration: 1.5s;
    animation-timing-function: linear;         //*что б двигалось постоянно*//
    animation-iteration-count: infinite;
    animation-name: pm-bottom;
    animation-direction: alternate;             //*что б плавно ебало открывалось и закрывалось*//

}

@keyframes pm-top {
    from{
        transform: rotate(200deg);
    }
    to{
        transform: rotate(180deg);
    }

}

@keyframes pm-bottom {
    from{transform: rotate(160deg);

    }
    to{transform: rotate(180deg);

    }
}

