*{
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-collapse: collapse;
}
i{
    padding-right: 12px;
    color: rgba(132, 132, 132, 255);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border: 15px solid #3a4965;
}
.thead-title-text{
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    color: rgba(72, 72, 72, 255);
}
th, td{
    width: 277px;
    height: 70px;
    border-right: 2px solid #d9d9d9;
    color: rgba(72, 72, 72, 255);
}
.thead-text-size{
    font-size: 60px;
}
sub{
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    color: rgba(72, 72, 72, 255);

}
sup{
    font-size: 24px;
    position: absolute;
    margin-top: 8px;
}
/*Задаем цвет строкам при помощи псевдоклаов*/
tbody tr:nth-child(even){
    background-color: #f2f2f2;
}
tbody tr:nth-child(odd){
    background-color: #e3e3e3;
}
/*стилизация верхних вкладок*/
.thaead-row-two, .thaead-row-three, .thaead-row-four{
    cursor: pointer;
    border: none;
}
.thaead-row-two{
    background-color: #89c331;
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);

}
.thaead-row-three{
    background-color: #f04a56;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
}
.thaead-row-four{
    background-color: #20807c;
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
}
/*Оформление кнопок в футере*/

.tfooter-but1, .tfooter-but2, .tfooter-but3, .tfooter-but4{
    width: 192px;
    height: 49px;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    border-radius: 3px;
    margin-left: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tfooter-but1{
    background-color: #484848;
}
.tfooter-but2{
    background-color: #89c331;
}
.tfooter-but3{
    background-color: #f04a56;
}
.tfooter-but4{
    background-color: #20807c;
}
a{
    text-decoration: none;
}
.thaead-row-two:hover, .thaead-row-three:hover, .thaead-row-four:hover, .tfooter-but1:hover, .tfooter-but2:hover, .tfooter-but3:hover, .tfooter-but4:hover{
     text-decoration: underline;
}

