body{
    width: 1366px;
    margin: 0 auto;

}
.background {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;

}
a{
    text-decoration: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    color: rgba(255, 255, 255, 255);
}
a:hover{
    color: #f26522;
}
.header_left_block{
    display: inline-block;
}
.header_left_block:hover a{
    color: #f26522;
}
.header_img{
    float: left;
    width: 44px;
    height: 46px;
    margin-left: 155px;
    color: #f26522;
    background: url("../img/home.png");
    margin-left: 155px;
}

.header_img:hover{
    background: url("../img/home_hover.png") no-repeat;
}


.header-title{
    float: left;
    margin-left: 15px;
}
.header-title a {
    display: block;
}
.milan {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
.holiday{
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
.header_right_block {
    float: right;
    margin-right: 147px;
}
.header_right_block span {
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.telephone{
    float: right;
}
.maincontent{
    margin-left: 157px;
    margin-right: 151px;
}
.firstLine{
    margin-top: 48px;
}
.img_name{
    margin-top: 21px;
}
.firstLineAllDiv{
    display: inline-block;
    background-repeat: no-repeat;
    width: 307px;
    height: 200px;
    position: relative;
}
.firstLineImg1{
    background-image: url("../img/shoppinr tour.png");
}
.firstLineImg2{
    background-image: url("../img/Sightseeing Tours.png");
    margin: 0 65px 0 64px;
}
.firstLineImg3{
    background-image: url("../img/Food Tours.png");
}
.allhover{
    background-color: #f26522;
    position: absolute;
    bottom: 0;
    height: 63px;
    width: 100%;
    opacity: 0;
}
.leftblock{
    display: inline-block;
    margin: 16px 0 17px 21px;
}
.textfrom{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 10pt;
}
.texteuro{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
}
.rightblock{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    /*color: rgba(255, 255, 255, 255);*/
    margin-top: 35px;
    float: right;
}
.rightblock::after{
    content: "\203a";
    margin-left: 15px;
    margin-right: 18px;
}
.firstLineAllDiv:hover .allhover{
    opacity: 1;
    color: white;
}
.secondLine{
    margin-top: 58px;
}
.secondLineImg1{
    background-image: url("../img/Bars & Nightlife.png");
}
.secondLineImg2{
    background-image: url("../img/Art & Architecture.png");
    margin: 0 65px 0 64px;
}
.secondLineImg3 {
    background-image: url("../img/Walking Tours.png");
}
.img_name{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.SightseeingTours{
    display: inline-block;
    margin-left: 228px;
    margin-right: 248px;
}
.art{
    margin-left: 226px;
    margin-right: 231px;
}
footer{
    margin-top: 61px;
}
.footer-text{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
