body {
    margin: 0;
    padding: 0;
}
.center {
    width: 1280px;
    /*height: 1282px;*/
    margin: 0 auto;

}
.logo {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 80px;
    color: rgba(0, 0, 0, 255);
}
.logocol {
    color: #4bcaff;
}
.logo a{
    color: black;
}
.logo a:active {
    color: black;
}
/*.header-menu {*/
/*    width: 1100px;*/
/*    height: 69px;*/
/*    background-color: #35444f;*/
/*    margin-bottom: 51px;*/
/*    padding-left: 180px;*/
/*}*/
/*.header-menu div {*/
/*    display: inline-block;*/
/*    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;*/
/*    font-size: 24px;*/
/*    color: rgba(255, 255, 255, 255);*/
/*    margin-left: 90px;*/
/*    padding-top: 20px;*/
/*    cursor: pointer;*/
/*}*/
/*.header-menu div:hover{*/
/*    background-color: #222f3a;*/
/*    height: 48px;*/
/*}*/
.header-nav{
    width: 1280px;
    height: 69px;
    background-color: #35444f;
    text-align: left;
    line-height: 69px;
    box-sizing: border-box;
    padding-left: 203px;
    margin-bottom: 51px;


}
.header-nav li {
    display: inline-block;
    text-decoration: none;



}

.header-nav li a{
    color: #ffffff;
    font-size: 24px;
    margin-right: 100px;
    height: 69px;
    display: inline-block;
}
.header-nav li a:hover{
    background-color: #222f3a;

}
.vertical-menu {
    display: inline-block;
    width: 344px;
    height: 399px;
    border: 1px solid black;

}
.vertical-menu-links {
    width: 289px;
    height: 60px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 29.99244px;
    color: rgba(73, 88, 99, 255);
    text-align: left;
    cursor: pointer;
    padding-left: 42px;
    padding-top: 20px;

}
.vertical-menu-links:hover{
    background-color: #dbdbdb;
    color: black;
    padding-left: 54px;
}
.container-img{
    /*height: 454px;*/
    width: 885px;
    border: 1px solid black;
    display: inline-block;
    float: right;
    text-align: center;
    padding: 75px 0;
    /*margin-right: 200px;*/
    margin-bottom: 40px;
}
.container-img:hover .img {
    transform: scale(1.2);
    transition: all 0.5s linear;

}
.main-text{
    width: 820px;
    /*height: 253px;*/
    clear: both;
    margin-left: 430px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 20px;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    margin-bottom: 51px;
}
.text1{
    margin-bottom: 25px;
}
.container-footer {
    width: 1236px;
    height: 69px;
    background-color: #b4b7ba;
    padding-left: 44px;

}
.menu-footer{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 28px;
    text-align: left;
    padding-top: 21px;
    padding-left: 30px;
}
.menu-footer a{
    color: black;
}
.menu-footer a:hover{
    color:#5d93ad;
    text-decoration: underline;

}

.copy{
    float: right;
    padding-top: 21px;
    padding-right: 34px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 24px;



}