body {
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 1626px;


}
header {
    background-color: #FFFFFF;
    height: 81px;
    width: 1280px;
    text-align: left;
}
.link {
    padding-top: 32px;
}
a {
    text-decoration: none;
    color: #25957C;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    text-align: left;
}
#home {
    margin: 32px 65px 35px 332px;
}
#photoapp {
    margin: 32px 70px 35px 0;
}
#design {
    margin: 32px 78px 35px 0;
}
.img {
    width: 1280px;
    height: 790px;
    background-image: url(Untitled-1.jpg );
    background-repeat: no-repeat;
}
.content {
    background-color: #f5f6f7;
}
h2 {
    margin: 0px 317px 59px 230px;
    font-family: 'Roboto', sans-serif;
    font-size: 22pt;
    color: rgba(55, 55, 55, 255);
    text-align: left;
}
#text {
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    margin: 0 108px 31px 113px;
}
#but {
    background-color: #16A086;
    border-radius: 4px;
    height: 51px;
    width: 192px;
    color: #eaffff;
    margin: 41px 561px 94px 527px;

}
.textbutton {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

#footer {
    height: 108px;
    text-align: right;
    background-color: #ffffff;
}
.textfot {
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: left;
    font-weight:bold;
    margin: 47px 104px 45px 768px;
}
