body{
    margin: 0;
    padding: 0;
}
.background{
    margin: 0 auto;
    background-image: url("../img/background.png");
    background-size: cover;
    width: 1366px;
    height: 912px;
    position: relative;
}
header{
    height: 56px;
    background-color: rgba(0, 0, 0, 0.36);
    position: relative;
}
.title-name{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 17px;
    left: 65px;
    cursor: pointer;
    transition: .3s;
}
.title-name:hover{
    color:#3cb878 ;
}
header .header-nav-sprites a{
    background-image: url("../img/sptites/sprite.png");
    background-repeat: no-repeat;
    width: 34px;
    height: 21px;
    display: inline-block;
    float: left;
}
.header-nav-sprites-calc{
    background-position: 0 -123px;
    transition: .2s;
}
.header-nav-sprites-calc:hover{
    background-position: 0 -99px;
}
.header-nav-sprites-doc{
    background-position: 0 -25px;
    transition: .2s;
}
.header-nav-sprites-doc:hover{
    background-position: 0 0;
}
.header-nav-sprites-comp{
    background-position: 0 -75px;
    transition: .2s;
}
.header-nav-sprites-comp:hover{
    background-position: 0 -50px;
}
.header-nav-sprites{
    display: inline-block;
    position: relative;
    top: 17px;
    right: 120px;
}
.header-nav-sprites-v-line{
    border-right: 1px solid white;
    height: 21px;
    display: inline-block;
    width: 1px;
    margin-right: 10px;
    position: relative;
    top: 17px;
    right: 107px;
}
.header-nav{
    display: inline-block;
    float: right;
}
.nav-menu{
    height: 21px;
    float: right;
    font-size: 14pt;
    color: white;
    position: relative;
    top: 17px;
    right: 93px;
}
.nav-menu a{
    text-decoration: none;
    color: #3cb878;
}
form{
    height: 584px;
    width: 444px;
    background-color: white;
    margin: 0 auto;
    border-radius: 4px;
    padding: 29px 90px 32px 62px;
    box-sizing: border-box;
    position: relative;
    top: 130px;
}
.green-square{
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0px;
}
.buttons-title{
    display: flex;
    justify-content: space-between;
}
.buttons-title a{
    text-decoration: none;
}
.buttons-img{
    background-repeat: no-repeat;
}
.buttons-text{
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
}
.face-button{
    background-color: #305db8;
    width: 140px;
    height: 46px;
    display: flex;
    border-radius: 4px;
}
.face-img{
    background-image: url("../img/Facebook.png");
    border-right: 2px solid #2b54a5;
    width: 25px;
    height: 20px;
    position: relative;
    top: 11px;
    left: 10px;
}
.face-text{
    margin-left: 12px;
    position: relative;
    top: 10px;
    left: 10px;
}
.google-button{
    background-color: #df4a32;
    width: 140px;
    height: 46px;
    border-radius: 4px;
    display: flex;
}
.google-button-img{
    background-image: url("../img/google.png");
    width: 33px;
    height: 20px;
    border-right: 2px solid #c8422d;
    position: relative;
    top: 13px;
    left: 10px;
}
.google-button-text{
    position: relative;
    top: 10px;
    left: 23px;
}
.form-title{
    margin-bottom: 15px;
}
.form-title-sign-up{
    font-size: 20pt;
    color: rgba(67, 67, 67, 255);
    cursor: pointer;
}
.form-title-sign-in{
    font-size: 14pt;
    color: rgba(60, 184, 120, 255);
    float: right;
    cursor: pointer;
}
.buttons-title{
    margin-bottom: 18px;
}
.buttons-title input{
    width: 144px;
    height: 46px;
}
.hor-line{
    margin-bottom: 10px;
}
.hor-line div{
    display: inline-block;
}
.first-line{
    border-bottom: 1px solid rgba(132, 132, 132, 255);
    width: 134px;
    height: 1px;
}
.second-line{
    border-bottom: 1px solid rgba(132, 132, 132, 255);
    width: 134px;
    height: 1px;
}
.hor-line-text-or{
    font-size: 14pt;
    color: rgba(132, 132, 132, 255);
}
.input-container input{
    width: 100%;
    height: 46px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14pt;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}
.input-container input:focus {
    box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, .1);
    outline: 0;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}
.input-container div{
    margin-bottom: 17px;
}
.label{}
.checkbox{
    display: none;
}
.checkbox-text{
    color: #3cb878;
}
.fake{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid grey;
    position: relative;
}
.fake::before{
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../img/check-hover.png");
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.creat-button input{
    width: 100%;
    height: 46px;
    color: white;
    background-color: #3cb878;
    margin-top: 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
